@model SimpleOrder.Models.OrderDisplayViewModel

@{
    ViewData["Title"] = "Delete";
}

<h3>Are you sure you want to delete this order?</h3>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <div class="form-group">
            @Html.DisplayNameFor(model => model.Number)
            @Html.DisplayFor(model => model.Number, additionalViewData: new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.SenderCity)
            @Html.DisplayFor(model => model.SenderCity, additionalViewData: new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.SenderAddress)
            @Html.DisplayFor(model => model.SenderAddress, additionalViewData: new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.RecipientCity)
            @Html.DisplayFor(model => model.RecipientCity, additionalViewData: new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.RecipientAddress)
            @Html.DisplayFor(model => model.RecipientAddress, additionalViewData: new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Weight)
            @Html.DisplayFor(model => model.Weight, additionalViewData: new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.ShipmentDate)
            @Html.DisplayFor(model => model.ShipmentDate, additionalViewData: new { @class = "form-control" })
        </div>
    </fieldset>

    <p>
        <button type="submit" class="btn btn-danger">
            Delete
        </button> | @Html.ActionLink("Back to List", "Index")
    </p>
}