@using SimpleOrder.Models.NewFolder
@model OrderDisplayViewModel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Are you sure you want to delete this order?</h3>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    
    <fieldset disabled>
        <div class="mb-3">
            <label for="@Html.DisplayNameFor(model => model.FormattedOrderNumber)" class="form-label">@Html.DisplayNameFor(model => model.FormattedOrderNumber)</label>
            @Html.TextBoxFor(model => model.FormattedOrderNumber, new { @class = "form-control", @disabled = "disabled" })
        </div>
                <div class="mb-3">
            <label for="@Html.DisplayNameFor(model => model.SenderCity)" class="form-label">@Html.DisplayNameFor(model => model.SenderCity)</label>
            @Html.TextBoxFor(model => model.SenderCity, new { @class = "form-control", @disabled = "disabled" })
        </div>
        <div class="mb-3">
            <label for="@Html.DisplayNameFor(model => model.SenderAddress)" class="form-label">@Html.DisplayNameFor(model => model.SenderAddress)</label>
            @Html.TextBoxFor(model => model.SenderAddress, new { @class = "form-control", @disabled = "disabled" })
        </div>
                <div class="mb-3">
            <label for="@Html.DisplayNameFor(model => model.RecipientCity)" class="form-label">@Html.DisplayNameFor(model => model.RecipientCity)</label>
            @Html.TextBoxFor(model => model.RecipientCity, new { @class = "form-control", @disabled = "disabled" })
        </div>
        <div class="mb-3">
            <label for="@Html.DisplayNameFor(model => model.RecipientAddress)" class="form-label">@Html.DisplayNameFor(model => model.RecipientAddress)</label>
            @Html.TextBoxFor(model => model.RecipientAddress, new { @class = "form-control", @disabled = "disabled" })
        </div>
        <div class="mb-3">
            <label for="@Html.DisplayNameFor(model => model.ShipmentDate)" class="form-label">@Html.DisplayNameFor(model => model.ShipmentDate)</label>
            @Html.TextBoxFor(model => model.ShipmentDate, "{0:yyyy-MM-dd}", new { @class = "form-control", @disabled = "disabled" })
        </div>
    </fieldset>


    <p>
        <button type="submit" class="btn btn-danger">
            Delete
        </button> | @Html.ActionLink("Back to List", "Index")
    </p>
}