@model SimpleOrder.Models.OrderDisplayViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Orders</legend>

        <div class="form-group">
            @Html.DisplayNameFor(model => model.Number)
            @Html.DisplayFor(model => model.Number, additionalViewData: new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.SenderCity)
            @Html.DisplayFor(model => model.SenderCity, additionalViewData: new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.SenderAddress)
            @Html.DisplayFor(model => model.SenderAddress, additionalViewData: new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.RecipientCity)
            @Html.DisplayFor(model => model.RecipientCity, additionalViewData: new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.RecipientAddress)
            @Html.DisplayFor(model => model.RecipientAddress, additionalViewData: new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Weight)
            @Html.DisplayFor(model => model.Weight, additionalViewData: new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.ShipmentDate)
            @Html.DisplayFor(model => model.ShipmentDate, additionalViewData: new { @class = "form-control" })
        </div>
    </fieldset>

    <p>
        @Html.ActionLink("Edit", "Edit", "Orders", new { Id = Model.Id }) | @Html.ActionLink("Back to List", "Index")
    </p>
}